<div class="row">
	<div class="col">
		<h1>Equipment Charts:</h1>
		<p>Here are charts for types of weapons and armor.</p>
		<p>These are not the only weapons or armors in the game, but are examples types like automatic rifles, or riot armor.</p>
	</div>
</div>
<br>
<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
		<ngb-tabset>
			<ngb-tab title="Melee Weapon Chart">
				<ng-template ngbTabContent>
					<br>
					<h1>Melee Weapons</h1>
					<p>Examples of melee weapon types. Other weapons will need to be approximated by the storyteller.</p>
					<hr>
					<div class="row">
						<div class="col-sm"><p><b>Weapon</b></p></div><div class="col-sm"><p><b>Damage</b></p></div><div class="col-sm"><p><b>Conceal</b></p></div>
					</div>
					<div class="row">
						<div class="col-sm"><p>Sap+</p></div><div class="col-sm"><p>Strength +1</p></div><div class="col-sm"><p>P</p></div>
					</div>
					<div class="row">
						<div class="col-sm"><p>Club+</p></div><div class="col-sm"><p>Strength +2</p></div><div class="col-sm"><p>T</p></div>
					</div>
					<div class="row">
						<div class="col-sm"><p>Knife</p></div><div class="col-sm"><p>Strength +1</p></div><div class="col-sm"><p>J</p></div>
					</div>
					<div class="row">
						<div class="col-sm"><p>Sword</p></div><div class="col-sm"><p>Strength +2</p></div><div class="col-sm"><p>T</p></div>
					</div>
					<div class="row">
						<div class="col-sm"><p>Axe</p></div><div class="col-sm"><p>Strength +3</p></div><div class="col-sm"><p>N</p></div>
					</div>
					<div class="row">
						<div class="col-sm"><p>Stake*</p></div><div class="col-sm"><p>Strength +1</p></div><div class="col-sm"><p>T</p></div>
					</div>
					<hr>
					<p>
						<b>+</b> Denotes a blunt object. Blunt objects inflict
						bashing damage unless targeted at the head. 
					</p>
					<p>
						<b>*</b> May paralyze a vampire if driven through
								the heart. The attacker must target the heart
								(difficulty 9) and score three damage successes.
					</p>
					<h4>Concealment Chart</h4>
					<div class="row">
						<div class="col-sm">
							<p>
								<b>P:</b> Can be carried in the pocket.
							</p>
						</div>
							<div class="col-sm">
							<p>
								<b>J:</b> Can be hidden in a jacket.
							</p>
						</div>
							<div class="col-sm">
							<p>
								<b>T:</b> Can be hidden in a trenchcoat.
							</p>
						</div>
						<div class="col-sm">
							<p>
								<b>N:</b> Cannot be concealed on the person at all.
							</p>
						</div>

					</div>
				</ng-template>
			</ngb-tab>
			<ngb-tab title="Ranged Weapon Chart">
				<ng-template ngbTabContent>
					<br>
					<h1>Ranged Weapons</h1>
					<p>Examples of ranged weapon types. Other weapons will need to be approximated by the storyteller.</p>
					<hr>
					<div class="row">
						<div class="col-sm"><p><b>Type</b></p></div><div class="col-sm"><p><b>Damage</b></p></div><div class="col-sm"><p><b>Range</b></p></div><div class="col-sm"><p><b>Rate</b></p></div><div class="col-sm"><p><b>Capacity</b></p></div><div class="col-sm"><p><b>Conceal</b></p></div>
					</div>
					<div class="row">
						<div class="col-sm"><p>Revolver, Light</p></div>
						<div class="col-sm"><p>4</p></div>
						<div class="col-sm"><p>12</p></div>
						<div class="col-sm"><p>3</p></div>
						<div class="col-sm"><p>6</p></div>
						<div class="col-sm"><p>P</p></div>
					</div>
					<div class="row">
						<div class="col-sm"><p>Revolver, Heavy</p></div>
						<div class="col-sm"><p>6</p></div>
						<div class="col-sm"><p>35</p></div>
						<div class="col-sm"><p>2</p></div>
						<div class="col-sm"><p>6</p></div>
						<div class="col-sm"><p>J</p></div>
					</div>
					<div class="row">
						<div class="col-sm"><p>Pistol, Light</p></div>
						<div class="col-sm"><p>4</p></div>
						<div class="col-sm"><p>20</p></div>
						<div class="col-sm"><p>4</p></div>
						<div class="col-sm"><p>15+1</p></div>
						<div class="col-sm"><p>P</p></div>
					</div>
					<div class="row">
						<div class="col-sm"><p>Pistol, Heavy</p></div>
						<div class="col-sm"><p>5</p></div>
						<div class="col-sm"><p>25</p></div>
						<div class="col-sm"><p>3</p></div>
						<div class="col-sm"><p>13+1</p></div>
						<div class="col-sm"><p>J</p></div>
					</div>
					<div class="row">
						<div class="col-sm"><p>Rifle</p></div>
						<div class="col-sm"><p>8</p></div>
						<div class="col-sm"><p>200</p></div>
						<div class="col-sm"><p>1</p></div>
						<div class="col-sm"><p>3+1</p></div>
						<div class="col-sm"><p>N</p></div>
					</div>
					<div class="row">
						<div class="col-sm"><p>SMG, Small*</p></div>
						<div class="col-sm"><p>4</p></div>
						<div class="col-sm"><p>20</p></div>
						<div class="col-sm"><p>3</p></div>
						<div class="col-sm"><p>17+1</p></div>
						<div class="col-sm"><p>J</p></div>
					</div>
					<div class="row">
						<div class="col-sm"><p>SMG, Large*</p></div>
						<div class="col-sm"><p>4</p></div>
						<div class="col-sm"><p>50</p></div>
						<div class="col-sm"><p>3</p></div>
						<div class="col-sm"><p>30+1</p></div>
						<div class="col-sm"><p>N</p></div>
					</div>
					<div class="row">
						<div class="col-sm"><p>Assault Rifle*</p></div>
						<div class="col-sm"><p>7</p></div>
						<div class="col-sm"><p>150</p></div>
						<div class="col-sm"><p>3</p></div>
						<div class="col-sm"><p>30+1</p></div>
						<div class="col-sm"><p>N</p></div>
					</div>
					<div class="row">
						<div class="col-sm"><p>Shotgun</p></div>
						<div class="col-sm"><p>8</p></div>
						<div class="col-sm"><p>20</p></div>
						<div class="col-sm"><p>1</p></div>
						<div class="col-sm"><p>5+1</p></div>
						<div class="col-sm"><p>T</p></div>
					</div>
					<div class="row">
						<div class="col-sm"><p>Shotgun, Semi-Auto</p></div>
						<div class="col-sm"><p>8</p></div>
						<div class="col-sm"><p>20</p></div>
						<div class="col-sm"><p>3</p></div>
						<div class="col-sm"><p>6+1</p></div>
						<div class="col-sm"><p>T</p></div>
					</div>
					<div class="row">
						<div class="col-sm"><p>Crossbow**</p></div>
						<div class="col-sm"><p>5</p></div>
						<div class="col-sm"><p>20</p></div>
						<div class="col-sm"><p>1</p></div>
						<div class="col-sm"><p>1</p></div>
						<div class="col-sm"><p>T</p></div>
					</div>
					<hr>
					<p>
						<b>Damage:</b> Indicates the damage dice pool. For mortals firearms is lethal damage. Firearms are bashing damage to vampires unless the head is targeted.
					</p>
					<p>
						<b>Range:</b> This is the practical shot range in yards or meters. Weapons may be fired at twice this distance, but the attacks are considered long range (difficulty 8).
					</p>
					<p>
						<b>Rate:</b> The maximum number of bullets or three-round bursts the gun can fire in a single turn. This rate does not apply to full-auto or spray attacks.
					</p>
					<p>
						<b>Capacity:</b> The number of shells a gun can hold. The +1 indicates a bullet can be held in the chamber, ready to fire.
					</p>
					<hr>
					<p>
						<b>*</b> Indicates the weapon is capable of three-round bursts, full auto, and sprays.
					</p>
					<p>
						<b>**</b> The crossbow is included for characters who wish to try staking an opponent. Crossbows require five turns to reload. Unless the crossbow is aimed at the head or heart, it inflicts bashing damage on Kindred. It inflicts lethal damage versus mortals.
					</p>
					<hr>
					<h4>Concealment Chart</h4>
					<div class="row">
						<div class="col-sm">
							<p>
								<b>P:</b> Can be carried in the pocket.
							</p>
						</div>
							<div class="col-sm">
							<p>
								<b>J:</b> Can be hidden in a jacket.
							</p>
						</div>
							<div class="col-sm">
							<p>
								<b>T:</b> Can be hidden in a trenchcoat.
							</p>
						</div>
						<div class="col-sm">
							<p>
								<b>N:</b> Cannot be concealed on the person at all.
							</p>
						</div>
					</div>
				</ng-template>
			</ngb-tab>
			<ngb-tab title="Armor Chart">
				<ng-template ngbTabContent>
					<br>
					<h1>Armor</h1>
					<p>Examples of armor types. Other armors will need to be approximated by the storyteller.</p>
					<hr>
					<div class="row">
						<div class="col-sm"><p><b>Class</b></p></div><div class="col-sm"><p><b>Armor Rating</b></p></div><div class="col-sm"><p><b>Penalty</b></p></div>
					</div>
					<div class="row">
						<div class="col-sm"><p>Class One (Reinforced Clothing)</p></div><div class="col-sm"><p>1</p></div><div class="col-sm"><p>0</p></div>
					</div>
					<div class="row">
						<div class="col-sm"><p>Class Two (armor T-shirt)</p></div><div class="col-sm"><p>2</p></div><div class="col-sm"><p>1</p></div>
					</div>
					<div class="row">
						<div class="col-sm"><p>Class Three (Kevlar vest)</p></div><div class="col-sm"><p>3</p></div><div class="col-sm"><p>1</p></div>
					</div>
					<div class="row">
						<div class="col-sm"><p>Class Four (flak jacket)</p></div><div class="col-sm"><p>4</p></div><div class="col-sm"><p>2</p></div>
					</div>
					<div class="row">
						<div class="col-sm"><p>Class Five (full riot gear)</p></div><div class="col-sm"><p>5</p></div><div class="col-sm"><p>3</p></div>
					</div>
					<hr>
					<p>
						Armor adds its rating to the character’s soak
						dice pool against bashing damage, lethal
						damage, and aggravated damage from fangs
						and claws.
					</p>
					<p> It does not protect against fire or sunlight.</p> 
					<p>
						However, armor also subtracts
						a number of dice from dice pools related to
						bodily coordination and agility (most Dexterity-based dice pools). 
						This is reflected in the penalty listing.
					</p>
					<p>
						Attackers may make targeting rolls to hit unprotected portions of a defender
						and thus ignore the armor (see targeting - General Combat Maneuvers).
					</p>
				</ng-template>
			</ngb-tab>
		</ngb-tabset>
	</div>
</div>