<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#" routerLink="/home">
    	<img id="logo" src="assets/ankh.png" alt="Home" class="img-fluid">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
		<li class="nav-item dropdown" ngbDropdown>
		  <a class="nav-link dropdown-toggle" id="dropdown01" ngbDropdownToggle>Information</a>
		  <div class="dropdown-menu" aria-labelledby="dropdown01" ngbDropdownMenu>
		    <a class="dropdown-item" routerLink="/d10system">The D10 Ruleset</a>	
		  </div>
		</li>
        <li class="nav-item dropdown" ngbDropdown>
		  <a class="nav-link dropdown-toggle" id="dropdown01" ngbDropdownToggle>Clans</a>
		  <div class="dropdown-menu" aria-labelledby="dropdown01" ngbDropdownMenu>
		    <a class="dropdown-item" routerLink="/clans/Brujah">Brujah</a>
		    <a class="dropdown-item" routerLink="/clans/Gangrel">Gangrel</a>
		    <a class="dropdown-item" routerLink="/clans/Malkavian">Malkavian</a>
			<a class="dropdown-item" routerLink="/clans/Nosferatu">Nosferatu</a>
			<a class="dropdown-item" routerLink="/clans/Toreador">Toreador</a>
			<a class="dropdown-item" routerLink="/clans/Tremere">Tremere</a>
			<a class="dropdown-item" routerLink="/clans/Ventrue">Ventrue</a>
		  </div>
		</li>
        <li class="nav-item dropdown" ngbDropdown>
		  <a class="nav-link dropdown-toggle" id="dropdown02" ngbDropdownToggle>Attributes</a>
		  <div class="dropdown-menu" aria-labelledby="dropdown02" ngbDropdownMenu>
		  	<u class="dropdown-item font-weight-bold">Physical</u>
		    <a class="dropdown-item" routerLink="/attributes/Strength">Strength</a>
		    <a class="dropdown-item" routerLink="/attributes/Dexterity">Dexterity</a>
		    <a class="dropdown-item" routerLink="/attributes/Stamina">Stamina</a>
		    <hr>
		  	<u class="dropdown-item font-weight-bold">Social</u>
			<a class="dropdown-item" routerLink="/attributes/Charisma">Charisma</a>
			<a class="dropdown-item" routerLink="/attributes/Manipulation">Manipulation</a>
			<a class="dropdown-item" routerLink="/attributes/Apperance">Apperance</a>
			<hr>
		  	<u class="dropdown-item font-weight-bold">Mental</u>
			<a class="dropdown-item" routerLink="/attributes/Perception">Perception</a>
			<a class="dropdown-item" routerLink="/attributes/Intelligence">Intelligence</a>
			<a class="dropdown-item" routerLink="/attributes/Wits">Wits</a>
		  </div>
		</li>
        <li class="nav-item dropdown" ngbDropdown>
		  <a class="nav-link dropdown-toggle" id="dropdown03" ngbDropdownToggle>Abilities</a>
		  <div class="dropdown-menu" aria-labelledby="dropdown03" ngbDropdownMenu>
		    <a class="dropdown-item" routerLink="/abilities/Talents">Talents</a>
		    <a class="dropdown-item" routerLink="/abilities/Skills">Skills</a>
		    <a class="dropdown-item" routerLink="/abilities/Knowledges">Knowledges</a>
		  </div>
		</li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/disciplines">Disciplines</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://mrgone.rocksolidshells.com/pdf/V20/V20_4-Page_Neonate.pdf" target="_blank">Character Sheet</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://rpg.rem.uz/World%20of%20Darkness/Classic%20World%20of%20Darkness/Vampire/Vampire%2020th%20Anniversary/V20%20-%20Core%20Rulebook.pdf" download="rulebook" target="_blank">Core Rulebook</a>
        </li>
      </ul>
    </div>
</nav>