<div class="container">
	<div>
		<h1>Disciplines:</h1>
		<p>
			Disciplines are supernatural powers granted by the
			Embrace, which vampires cultivate to bring to bear
			against their foes and prey. These powers separate the
			Damned from mortals, providing an incomparable mystical 
			edge over those who would stand against them.
		</p>
		<p>
			With Disciplines, a vampire can exert the strength of
			a dozen men, force an enemy into thrall, ignite a fire
			with a glance, or take the mantle of a beast. Even the
			youngest Kindred, with a few token powers at his command, 
			has an advantage over most threats, while the
			elders, who have often mastered a fearsome breadth of
			these potent gifts, can seem almost unassailable.
		</p>
		<p>
			Like other Traits, Disciplines are rated in progressive
			dots. A rating of one dot indicates that the Discipline
			in question has barely been awakened, while a rating of
			six dots or higher indicates mastery beyond the capacity 
			of most neonates and even ancillae. As a character
			increases her rating in a Discipline, she gains access
			to the powers listed next to the appropriate number
			of dots, as well as retaining access to lesser powers.
		</p>
		<p>
			Unless stated in the description, Disciplines cost no blood or Willpower points to activate.
		</p>
		<hr>
		<b>
			<p>
				Disciplines are shown in the Core Rulebook starting at page 136. 
				It's about 120 pages long and is thus not included on this page.
			</p>
			<p>
				Please look at the disciplines that your clan has to offer.
			</p>
		</b>
	</div>
</div>