<div class="container">
	<div class="row">
		<h1 class="col-sm">Setting and Information</h1>
	</div>
	<img id="settingAnkh" class="img-fluid settingAnkh" src="assets/ankh.png" >
	<div class="row">
		<div class="col-sm">
			<p>
				Året er 1998 - Final Nights. Frankriket har vunnet world cup i fotball, det er finansiell krise i sørøst Asia og Bill Clinton har sagt at han ikke hadde seksuell kontakt med Monica Lewinsky.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm">
			<p>
				Dere er mennesker som bor eller er i Florida, Miami. Hva dere gjør, hvem dere kjenner, hvorfor dere er der er opp til dere. Livene deres er (sannsynligvis?) ganske normale. 
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm">
			<p>
				Miami er som de fleste andre storbyer, en haug med folk og en del gjengkriminalitet. Det har blitt bedre nå enn for ti-femten år siden, hvor gjengkriminalitet skjedde hyppigere og mange ble drept som resultat av såkalte "gang wars". Mange sier dette er på grunn av den såkalte "war on drugs" som har gjort ting bedre, og politikerne skryter av resultatet.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm">
			<p>
				Dere trenger ikke å ha noe særlig bakgrunnsinformasjon om Vampire the Masquerade settingen. Dere vil gradvis bli introdusert til konseptene, ord og ordtrykk, hvem og hva.
				Det anbefales selvfølgelig å ha spilt Vampire the Masquerade: Bloodlines, ettersom det vil gi dere et godt inntrykk av settingen og konseptene, ord o.l. Men det vil bli forklart under RPGen for de som ikke har spilt video spillet. De som ikke eier det, men vil spille det, kan få det fra yours truly.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm">
			<p>
				I første session vil vi lage character sheets og ha en kort introduksjon per person samlet. Dermed er det ingen vits å lage et sheet på forhånd. Derimot er det forventet at man har et konsept og har f.eks valgt en clan, looks og en personlighetstype før vi starter. Om characteren endrer personlighet drastisk etter the embrace, så må du ha en formening om hvordan characteren er før og etter. 
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm">
			<p>
				Hvis dere ønsker mer informasjon er det bare å ta kontakt.
			</p>
		</div>
	</div>
</div>