<div *ngIf="abilityType">
	<div id="abilityTitle" class="row">
		<h1 class="col-sm">{{abilityType.name}}</h1>
	</div>
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-10">
			<div id="abilityDescription" class="row">
				<p class="col-sm">{{abilityType.description}}</p>
			</div>
			<div class="row">
				<div class="col-sm-1"></div>
				<div class="p-3" *ngFor="let abil of abilityType.abilities">
					<button type="button" class="col-sm btn btn-secondary" routerLink="/abilities/{{abilityType.name}}/{{abil}}">{{abil}}</button>
				</div>
			</div>
			<div *ngIf="selectedAbility">
				<br>
				<br>
				<div class="row">
					<h4 class="col-sm">{{selectedAbility.name}}</h4>
				</div>
				<div class="row">
					<p class="col-sm" [innerHTML]="selectedAbility.description"></p>
				</div>
				<div class="row">
					<div class="col-sm-3"></div>
					<div class="col-sm text-left">&#9679; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Poor: {{selectedAbility.levels.one}}</div>
				</div>
				<div class="row">
					<div class="col-sm-3"></div>
					<div class="col-sm text-left">&#9679;&#9679; &nbsp; &nbsp; &nbsp; &nbsp; Average: {{selectedAbility.levels.two}}</div>
				</div>
				<div class="row">
					<div class="col-sm-3"></div>
					<div class="col-sm text-left">&#9679;&#9679;&#9679; &nbsp; &nbsp; &nbsp; Good: {{selectedAbility.levels.three}}</div>
				</div>
				<div class="row">
					<div class="col-sm-3"></div>
					<div class="col-sm text-left">&#9679;&#9679;&#9679;&#9679; &nbsp; &nbsp; Exceptional: {{selectedAbility.levels.four}}</div>
				</div>
				<div class="row">
					<div class="col-sm-3"></div>
					<div class="col-sm text-left">&#9679;&#9679;&#9679;&#9679;&#9679; &nbsp; Outstanding: {{selectedAbility.levels.five}}</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm">
						<h5>Possessed by:</h5> {{selectedAbility.possessedBy}}
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm">
						<h5>Specialties:</h5> {{selectedAbility.specialties}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>